@import url("https://use.typekit.net/oto6jas.css");

:root {
    --main-font-family: "futura-pt", sans-serif;
}


/* font */

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: 2vw;

}

h1 {
    padding-top: 1vw;
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}


/* general sizing and padding*/ 

body {

    display: grid;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.navBar {
    list-style: none;

	display: flex;
    justify-content: white;
    position: static;

    padding: 2vw;
    width: 95.9%;

    color: #ffffff;
    background-color: #282828;
}


.nav-link {
	padding: 1vw;
	color: #fff;
	text-decoration: none;
}

.active {
    color: #fff;
    font-weight: bold;
}

.heading {
    justify-self: center;
    padding: 1vh;
}


.descriptionField {
    display: grid;
    flex-direction: column;
    justify-self: center;

    padding: 5vw 5vw;
    width: 50vw;
    margin-top: 15vw;
    height: auto;

    color: #000000;
    background: #c0c0c0;

    margin-bottom: 15vw;
}

img {
    width: 50vw;
    height: auto;
}

.map {
    width: 25rem;
    height: auto;
}

.portrait {
    justify-self: center;
    width: 45vw;
    height: auto;
    padding-bottom: 0vh;
}

/** lore **/

.loreContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    height: 90%;
    margin-top: 5vw;
    margin-bottom: 15vw;
    color: #000000;
    background: #c0c0c0;

}

.loreFirstCol {
    flex-grow: 0;
    padding-left: 2vw;
    width: auto;
}

.loreSecondCol {
    flex-grow: 1;
    width: 100%;
}

.centerImage {
    justify-self: center;
}

.contentsList {
    list-style: none;

    width: 100%;

    background: #c0c0c0;
}

/* displaying content */

.contentDisplay {
    background: #c0c0c0;
}

.pageDisplay {
    flex: 1;
    width: 90%;
    height: 90%;
}