@import url("https://use.typekit.net/oto6jas.css");

:root {
    --main-font-family: "futura-pt", sans-serif;
}


/* font */

* {
    font-family: var(--main-font-family);
    font-size: 4vw;

}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 6vw;
}

h3 {
    font-size: 4vw;
}


/* general sizing and padding*/ 

body {

    display: grid;
    flex-direction: column;
    width: 95%;
    height: 100%;
    background: #c0c0c0;
}

.active {
    color: #fff;
    font-weight: bold;
}

.portrait {
    justify-self: center;
    width: 45vw;
    height: 30vh;
}

.loreField {
    flex-direction: column;
    justify-self: center;

    display: grid;
    
    width: auto;
    height: auto;

    color: #000000;
    background: #c0c0c0;

}
